*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;    
}

h1{
    font-size: 3.5em;
}
h2{
    font-size: 2.7em;
}
h3{
    font-size: 2em;
}
p{
    font-size: 1.25em;
}
ul{
    list-style: none;
}
li{
    font-size: 1.25em;
}
button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    background-color: rgb(27, 27, 143);
    color: white;
}

button:hover{
    background-color: rgb(44, 3, 228);
    color: orange;
}

.container{
    max-width: 1400px;
    margin: auto;
}

header{
    background-color: rgb(235,235,234);

}

header .logo{
    margin: 0;
    padding: 20px 30px 20px 20px;
    font-weight: bold;
    color: rgb(37, 19, 201);
    font-size: 1.6em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: blueviolet;
}